

/* SCSS HEX */
$old-rose: #d08b85ff;
$coral-pink: #ef8b83ff;
$air-superiority-blue: #84a8c0ff;
$powder-blue: #a5bed2ff;
$cadet-gray: #899fb7ff;

/* SCSS HSL */
$old-rose: hsla(5, 44%, 67%, 1);
$coral-pink: hsla(4, 77%, 73%, 1);
$air-superiority-blue: hsla(204, 32%, 64%, 1);
$powder-blue: hsla(207, 33%, 74%, 1);
$cadet-gray: hsla(211, 24%, 63%, 1);

/* SCSS RGB */
$old-rose: rgba(208, 139, 133, 1);
$coral-pink: rgba(239, 139, 131, 1);
$air-superiority-blue: rgba(132, 168, 192, 1);
$powder-blue: rgba(165, 190, 210, 1);
$cadet-gray: rgba(137, 159, 183, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-right: linear-gradient(90deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-bottom: linear-gradient(180deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-left: linear-gradient(270deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-top-right: linear-gradient(45deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-bottom-right: linear-gradient(135deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-top-left: linear-gradient(225deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-bottom-left: linear-gradient(315deg, #d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);
$gradient-radial: radial-gradient(#d08b85ff, #ef8b83ff, #84a8c0ff, #a5bed2ff, #899fb7ff);